<div class="login-cintain">
  <div class="">
    <div class="section-left" style="height: 100vh;">
      <img
        class="section-left-svg"
        src="https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg?w=826&t=st=1677499481~exp=1677500081~hmac=9f1b756https://img.freepik.com/free-vector/programming-concept-illustration_114360-1351.jpg?w=826&t=st=1677499481~exp=1677500081~hmac=9f1b7566d503a426ec198a5f273c4d5467bb6385cb1810649200607758991b3d6d503a426ec198a5f273c4d5467bb6385cb1810649200607758991b3d" alt="">
    </div>
    <div class="section-right">
      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: white;">Login</p>

      <form class="mx-1 mx-md-4" (ngSubmit)="login(loginForm)" #loginForm="ngForm">

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="email" id="form3Example3c" class="form-control" name="email" ngModel email
              #emailLocal="ngModel" required />
            <p *ngIf="!emailLocal.valid && emailLocal.touched" style="padding: 0px; margin: 0px;" class="show-hint">
              enter a valid email</p>
            <label class="form-label" for="form3Example3c">Your Email</label>
          </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <input type="password" id="form3Example4c" class="form-control" name="password" ngModel required />
            <label class="form-label" for="form3Example4c">Password</label>
          </div>
        </div>

        <div *ngIf="errorMessage" class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <label style="padding: 0px; margin: 0px;" class="form-label show-hint" for="form3Example4c">Make sure you
              filled all fields</label>
          </div>
        </div>

        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4"
          style="float: right; background-color: rgb(18.4%,24.3%,27.5%);">
          <button type="submit" class="btn btn-dark">Login</button>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">
          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
          <div class="form-outline flex-fill mb-0">
            <a class="links" [routerLink]="['/user']">Home</a>
            <br>
            <a class="links" [routerLink]="['/user/signup']">Sign up</a>
          </div>
        </div>


      </form>
    </div>
  </div>
</div>