<div class="container" *ngIf="styleMode" [routerLink]="['/user', 'cources']">
    <div style="border-right: 5px solid #84A98C; margin-right: 5px;">
        <div class="row">
            <div style="align-items: center;  width: 50%; margin-right: 0px; float: left;" class="align-img">
                <img 
                    class="img-fluid max-width-ctr" 
                    style="z-index: 1; border: 5px solid #84A98C; margin-top: 50px; margin-bottom: 50px; margin-right: 0;" 
                    src="https://media.istockphoto.com/id/1059510610/vector/it-communication-e-learning-internet-network-as-knowledge-base.jpg?s=612x612&w=0&k=20&c=QEyHx6JnZleLmW9lYgpzvLv765rizr__5zwwKylo300="
                    alt="">
                </div>
                <div style="margin: 0; padding: 0; width: 50%;">
                    <div class="horizon-line"></div>
                    <div class="container-fluid" style="height: 50px;"><h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><b>Learn From Us</b></h1></div>
                </div>
                <div style="width: 1px; border-right: 5px solid #84A98C; height: 100%; position: relative; right: 77px; z-index: 100;" class="vertical-line"></div>
        </div>
    </div>
</div>

<div class="container" *ngIf="styleMode">
    <div style="border-right: 5px solid #84A98C; margin-right: 5px;">
        <div class="row">
            <div style="align-items: center;  width: 50%; margin-right: 0px; float: left;" class="align-img">
                <img 
                    class="img-fluid max-width-ctr" 
                    style="z-index: 1; border: 5px solid #84A98C; margin-top: 50px; margin-bottom: 50px; margin-right: 0;" 
                    src="https://t3.ftcdn.net/jpg/04/33/21/32/360_F_433213276_RDKMinxUmRa5SmxT0vxMin0LVdF05PlN.jpg"
                    alt="">
                </div>
                <div style="margin: 0; padding: 0; width: 50%;">
                    <div class="horizon-line"></div>
                    <div style="height: 50px;"><h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><b>Grow from Us</b></h1></div>
                </div>
                <div style="width: 1px; border-right: 5px solid #84A98C; height: 100%; position: relative; right: 77px; z-index: 100;" class="vertical-line"></div>
        </div>
    </div>
</div>
<!-- 
<div class="container" *ngIf="!styleMode">
    <div style="border-right: 5px solid #84A98C; margin-right: 5px;">
        <div class="row">
            <div style="align-items: center; height: 500px; width: 50%; margin-right: 0px; float: right;">
                <img 
                    class="img-fluid" 
                    style="z-index: 1; border: 5px solid #84A98C; margin-top: 50px;  margin-left: 622px; margin-bottom: 50px; margin-right: 0; position: absolute;" 
                    src="https://media.istockphoto.com/id/1059510610/vector/it-communication-e-learning-internet-network-as-knowledge-base.jpg?s=612x612&w=0&k=20&c=QEyHx6JnZleLmW9lYgpzvLv765rizr__5zwwKylo300="
                    alt="">
                </div>
                <div style="margin: 0; padding: 0; width: 50%; left: 0;">
                    <div class="horizon-line-2"></div>
                    <div class="text-2" style="float: right; left: 0; text-align: center;">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
                <div style="width: 1px; border-right: 5px solid #84A98C; height: 100%; position: relative; right: 77px; z-index: 100;" class="vertical-line"></div>
        </div>
    </div>
</div> -->