@media screen and (min-width: 0px) and (max-width: 600px) {

    .background-color {
        background-color: #84A98C
    }
}

.text-over-img {
    z-index: 1;
    font-size: 1.2em;
    margin-top: -100px;
    display: none;
}

.show-text:hover .text-over-img {
    z-index: 1;
    font-size: 1.2em;
    margin-top: -100px;
    display: block;
}

.course {
    background-color: #84A98C;
}

.course:hover {
    background-color: #98bda0;
}