<div class="container">
    <div class="row px-xl-5">
        <!-- <%- include("../includes/user/user-sidebar.ejs") %> -->
    
        <div class="col-lg-12 col-md-12">
            <div class="row background-color">
                <!-- profile image -->
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5 show-text">
                        <img 
                            class="rounded-circle mt-5" 
                            width="150px" 
                            style="cursor: pointer;"
                            [src]="userData.userDetails.profile_img">
                        <span 
                            class="font-weight-bold text-over-img" 
                            style="color: grey;">
                            Choose
                        </span>
                    </div>
                </div>
                <!-- /profile image -->

                <!-- user data -->
                <div class="col-md-5 border-right">
                    <div class="p-3 py-5">
                        <div class="" role="alert">
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <label class="labels">Name</label>
                                <input 
                                    value="{{ userData.userDetails.name }}"
                                    type="text"
                                    disabled
                                    class="form-control"
                                    placeholder="first name">
                            </div>
    
                            <div class="col-md-6">
                                <label class="labels">Email</label>
                                <input
                                    value="{{ userData.userDetails.email }}"
                                    type="text"
                                    disabled
                                    class="form-control"
                                    placeholder="email">
                            </div>
                        </div>
    
                        <!-- form -->
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <label class="labels">home</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="enter your home name or flat number"
                                    id="home"
                                    value="">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">Street</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    placeholder="enter your Street name"
                                    id="street"
                                    value="">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">District</label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="district"
                                    placeholder="enter your district"
                                    value="">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">City</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="city" 
                                    placeholder="enter your city" 
                                    value="">
                            </div>
                            <div class="col-md-12">
                                <label class="labels">State</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="state" 
                                    placeholder="enter your state" 
                                    value="">
                            </div>
    
                            <div class="col-md-12"><label class="labels">Zip</label>
                                <input 
                                    type="text" 
                                    class="form-control" 
                                    id="zip" 
                                    placeholder="enter your zip code" 
                                    value="">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <a class="btn btn-dark profile-button col-12">Add Address</a>
                        </div>
    
                    </div>
                    <!-- /form -->
                </div>
                <!-- /user data -->

                <!-- entrolled courses -->
                <div class="col-md-4">
                    <div class="p-3 py-5">
                        
                        <!-- no entrolled courses -->
                        <div
                            *ngIf="!userData.entrolledCourse"
                            class="row mt-3">
                            <div 
                                class="col-md-12" 
                                style="text-align: center;">
                                <h3>Your courses</h3>
                            </div>
                            <div class="col-md-12" style="cursor: pointer;">
                                <p
                                    class="form-control course">
                                    <b>Title of the course</b>
                                </p>
                            </div>
                        </div>
                        <!-- /no entrolled courses -->

                        <!-- entrolled coures list -->
                        <div *ngIf="userData.entrolledCourse" class="row mt-3">
                            <div class="col-md-12" style="text-align: center;">
                                <h3>Your courses</h3>
                            </div>
                            <div class="col-md-12" style="cursor: pointer;">
                                <p
                                    class="form-control course">
                                    <b>You didn't entrolled any course</b>
                                </p>
                                <a
                                    class="btn btn-dark col-12"
                                    [routerLink]="['/user', 'cources']">
                                    <b>Go To Courses</b>
                                </a>
                            </div>
                        </div>
                        <!-- /entrolled coures list -->

                    </div>
                </div>
                <!-- /entrolled courses -->
            </div>
        </div>
    </div>
</div>