<div 
    style="min-height: 100vh; background-color: rgb(79.2%,82.4%,77.3%);;">
    <div
        style="
            display: none;
            font-size: 1px;
            color: rgb(79.2%,82.4%,77.3%);
            line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif;
            max-height: 0px;
            max-width: 0px;
            opacity: 0;
            overflow: hidden;">
        We're thrilled to have you here! Get ready to dive into your new account.
    </div>
    <table 
        border="0"
        cellpadding="0"
        cellspacing="0"
        width="100%">
        <tr>
            <td
                class="bg-coloer"
                align="center">
                <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="100%"
                    style="max-width: 600px;">
                    <tr>
                        <td 
                            align="center" 
                            valign="top" 
                            style="padding: 40px 10px 40px 10px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td
                class="bg-coloer"
                align="center"
                style="padding: 0px 10px 0px 10px;">
                <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="100%"
                    style="max-width: 600px;">
                    <tr>
                        <td
                            bgcolor="#ffffff"
                            align="center"
                            valign="top"
                            style="
                                padding: 40px 20px 20px 20px;
                                border-radius: 4px 4px 0px 0px;
                                color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif;
                                font-size: 48px;
                                font-weight: 400;
                                letter-spacing: 4px;
                                line-height: 48px;">
                            <h1 
                                *ngIf="!verified" 
                                style="font-size: 48px; font-weight: 400; margin: 2;">
                                    Verifying Order!
                            </h1> 
                            <h1
                                *ngIf="verified"
                                style="font-size: 48px; font-weight: 400; margin: 2;">
                                    Verification Completed!
                            </h1> 
                            <img
                                src=" https://img.icons8.com/clouds/100/000000/handshake.png" 
                                width="125" 
                                height="120"
                                style="display: block; border: 0px;" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td 
                class="bg-color" 
                align="center" 
                style="padding: 0px 10px 0px 10px;">
                <table
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="100%"
                    style="max-width: 600px;">
                    <tr *ngIf="verified">
                        <td
                            bgcolor="#ffffff"
                            align="left"
                            style="
                                padding: 20px 30px 40px 30px;
                                color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif;
                                font-size: 18px;
                                font-weight: 400; line-height: 25px;">
                            <p style="margin: 0; text-align: center;">
                                your order has been verified! happy learning
                            </p>
                        </td>
                    </tr>
                    <tr *ngIf="!verified">
                        <td
                            bgcolor="#ffffff"
                            align="left"
                            style="
                                padding: 20px 30px 40px 30px;
                                color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif;
                                font-size: 18px; font-weight: 400;
                                line-height: 25px;">
                            <p style="margin: 0;">
                            </p>
                        </td>
                    </tr>
                    <tr *ngIf="verified">
                        <td
                            bgcolor="#ffffff"
                            align="left">
                            <table
                                width="100%"
                                border="0"
                                cellspacing="0"
                                cellpadding="0">
                                <tr>
                                    <td 
                                        bgcolor="#ffffff" 
                                        align="center" 
                                        style="padding: 20px 30px 60px 30px;">
                                        <table 
                                            border="0" 
                                            cellspacing="0" 
                                            cellpadding="0">
                                            <tr>
                                                <td 
                                                    class="btn-dark" 
                                                    [routerLink]="['/user', 'myCourses']" 
                                                    align="center"
                                                    style="border-radius: 3px; cursor: pointer;" 
                                                    bgcolor="#000000">
                                                    <a
                                                        target="_blank"
                                                        style="
                                                            font-size: 20px;
                                                            font-family: Helvetica, Arial, sans-serif;
                                                            color: #ffffff;
                                                            text-decoration: none;
                                                            color: #ffffff;
                                                            text-decoration: none;
                                                            padding: 15px 25px;
                                                            border-radius: 2px;
                                                            border: 1px solid #000000;
                                                            display: inline-block;">
                                                        My Courses
                                                    </a></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr *ngIf="!verified">
                        <td 
                            bgcolor="#ffffff" 
                            align="left">
                            <table 
                                width="100%" 
                                border="0" 
                                cellspacing="0" 
                                cellpadding="0">
                                <tr>
                                    <td 
                                        bgcolor="#ffffff" 
                                        align="center" 
                                        style="padding: 20px 30px 60px 30px;">
                                        <table 
                                            border="0" 
                                            cellspacing="0" 
                                            cellpadding="0">
                                            <tr  style="display: flex; justify-content: space-around;" >
                                                <div 
                                                    class="spinner-border m-5" 
                                                    role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </tr>
                                            <tr>
                                                <p>wait a moment. We are verifying your payment!</p>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td 
                class="bg-color" 
                align="center" 
                style="padding: 30px 10px 0px 10px;">
                <table 
                    border="0" 
                    cellpadding="0" 
                    cellspacing="0" 
                    width="100%" 
                    style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#FFECD1" align="center"
                            style="
                                padding: 30px 30px 30px 30px;
                                border-radius: 4px 4px 4px 4px;
                                color: #666666;
                                font-family: 'Lato', Helvetica, Arial, sans-serif;
                                font-size: 18px;
                                font-weight: 400;
                                line-height: 25px;">
                            <h2 style="font-size: 20px; font-weight: 400; color: #111111; margin: 0;">
                                Need more help?
                            </h2>
                            <p 
                                [routerLink]="['/user/condact']" 
                                style="margin: 0;cursor: pointer;">
                                <a 
                                    target="_blank"
                                    style="color: #FFA73B;">
                                    We&rsquo;re here to help you out
                                </a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td 
                bgcolor="#f4f4f4" 
                align="center" 
                style="padding: 0px 10px 0px 10px;">
                <table 
                    border="0" 
                    cellpadding="0" 
                    cellspacing="0" 
                    width="100%" 
                    style="max-width: 600px;">
                    <tr>
                        <td 
                            bgcolor="#f4f4f4" 
                            align="left" 
                            br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>