<div class="container">
    <div style="height: 100vh; padding-top: 20px; padding-bottom: 20px;">
        <div id="big-screen-details" class="big-screen">
            <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <b><u>{{ course.course.title }}</u></b>
            </h4>
            <div style="width: 100%; text-align: center;">
                <h6 style="font-family: sans-serif;">{{ course.course.description }}</h6>
                <br>
                <h6>Instructor: {{ course.course.teacher }}</h6>
                <br>
                <!-- <div style="padding: 0px;" class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div> -->
            </div>

            <div style=" text-align: center;">
                <h6><b>Modules</b></h6>
            </div>
            <div style="border: 2px solid black; text-align: center;">
                <p *ngFor="let i of course.course.modules">{{ i.videoTitle }}</p>
            </div>

        </div>
        <div class="side-small-screen">
            <img class="img-fluid"
                src="http://localhost:3000/{{ course.course.imgPath }}"
                alt="">
                <a *ngIf="!course.entrolled" style="width: 100%; margin-top: 5px;" class="btn btn-dark">Entroll now</a>
                <a *ngIf="course.entrolled" style="width: 100%; margin-top: 5px;" class="btn btn-dark">Go to course</a>
                <div style="text-align: center;" id="short-screen-details">
                    <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                        <b><u>{{ course.course.title }}</u></b>
                    </h4>
                    <div style="width: 100%; text-align: center;">
                        <h6 style="font-family: sans-serif;"><span>Description:</span> {{ course.course.description }}</h6>
                        <h6><span><b>Instructor:</b></span> {{ course.course.teacher }}</h6>
                    </div>
                    <div style=" text-align: center;">
                        <h6>Modules</h6>
                    </div>
                    <div style="border: 2px solid black; text-align: center;">
                        <p *ngFor="let i of course.course.modules">{{ i.videoTitle }}</p>
                    </div>
                </div>
        </div>
    </div>
</div>