<div class="container">
    <div>
        <h1
            style="font-family: 'Courier New', Courier, monospace;">
            <b>
                {{ course.title }}
            </b>
        </h1>
    </div>
    <app-play></app-play>
    <div 
        class="col-3"
        style="float: right;">
        <app-course-module
            *ngFor="let i of course.course.modules let index = index"
            [module]="i"
            class="col-11"
            style="float: right; background-color: #D9D9D9; margin: 2px; padding: 2px;">
        </app-course-module>
    </div>
    <div style="background-color: #D9D9D9; width: 75%; height: 200px;">
    </div>
</div>