<div class="container">
    <div style="height: 70vh; padding-top: 20px; padding-bottom: 20px;">
        <div style="float: left; width: 70%; text-align: center;">
            <h4 style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <b>Title of the course</b>
            </h4>
            <div style="width: 100%; text-align: center;">
                <h6 style="font-family: sans-serif;">Description of the course. for example this is a good course and it
                    exist
                    with lot of topics that help you in your carriear
                </h6>
                <br>
                <h6>Instructor: </h6>
                <br>
                <!-- <div style="padding: 0px;" class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div> -->
            </div>

            <div style=" text-align: center;">
                <h6>Modules</h6>
            </div>
            <div style="border: 2px solid black; text-align: center;">
                <p>Introduction</p>
                <p>Introduction</p>
                <p>Introductio kkkkkkkkkkkkkkkkkkkkk</p>
                <p>Introduction</p>
                <p>Introduction</p>
                <p>Introduction</p>
            </div>

        </div>
        <div style="float: right; width: 25%; justify-content: center;">
            <img class="img-fluid"
                src="https://media.istockphoto.com/id/1327151708/photo/sky-clouds-sunlight-and-path-beauty-nature-background.jpg?b=1&s=170667a&w=0&k=20&c=K_N5wmHnVDURzFanRc_2WR13tWAYDJWHuOHb5OkFsWE="
                alt="">
            <a style="width: 100%; margin-top: 5px;" class="btn btn-dark">Entroll now</a>
        </div>
    </div>
</div>