<div 
    style="margin: 5px;" 
    class="products-single fix">
    <div 
        class="box-img-hover">
        <img 
            src="http://localhost:3000/{{ course.imgPath }}" 
            style="max-height: 250px; min-height: 250px;"
            class="img-fluid" 
            alt="Image">
        <div 
            class="mask-icon">
            <ul>
                <li>
                    <a
                        [routerLink]="['/user', 'courses','details', course._id]"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="View">
                        <fa-icon
                            [icon]="eye"
                            class="toggle-menue hide-menue">
                        </fa-icon>
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Add to wishlist">
                        <fa-icon
                            [icon]="like"
                            class="toggle-menue hide-menue">
                        </fa-icon>
                    </a>
                </li>
                <li>
                    <a
                        href="#"
                        data-toggle="tooltip"
                        data-placement="right"
                        title="Add to cart">
                        <fa-icon
                            [icon]="addToCart"
                            class="toggle-menue hide-menue">
                        </fa-icon>
                    </a>
                </li>
            </ul>
            <a 
                class="cart"
                href="#">
                Add to Cart
            </a>
        </div>
    </div>
    <div class="why-text">
        <h4>{{ course.title }}</h4>
        <h5>₹ {{ course.price }}</h5>
    </div>
</div>